.contest-create-container {
    width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  small {
    color: red;
  }
  
  button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  