
<div #fullscreenContainer class="fullscreen-container">
  <div class="post-display-container" [ngClass]="selectedPlatform">
    <ng-container *ngFor="let icon of icons">
      <div *ngIf="selectedIcon === icon.path" [ngClass]="icon.class">
        <img *ngIf="icon.imgSrc" [src]="icon.imgSrc" [alt]="icon.altText" />
      </div>
    </ng-container>
</div>
  <div class="bodyy">
    <div class="slider">
      <div class="list">
        <div class="item active">
          <div class="content">
            <h2>{{ topPost.mediaId }}</h2>
            <p>{{ topPost.content}}</p>
            <div class="media-content">
              <span class="post-likes">
                <img [src]="selectedSymbol" alt="Likes" class="heart-icon" />
                <strong>{{ topPost.likes }} {{iconString}}</strong>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="thumbnail">
        <div class="item active">
          <img [src]="topPost.photoUrl" alt="celebrations">
        </div>
        <div *ngIf="selectedIcon === 'assets/snapchat.svg'" class="streak-peak-text">
          Streak Peak
        </div>
      </div>
    </div>
    <div class="slide-button-container">
      <button class="slideshow-button" (click)="toggleForm()">Previous winners</button>
    </div>
    <div *ngIf="showSlids">
      <div class="vertical-slider-container">
        <div class="coverflow-slider" id="coverflowSlider">
          <div *ngFor="let post of slideShowPosts" class="slider-item">
            <img [src]="post.winPhotoUrl" alt="Post Image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ------------------------------Slide show form ----------------------------- -->
  <div *ngIf="showForm" class="slideshow-form">
    <h3>Select Date Range for SlideShow</h3>
    <form [formGroup]="slideshowForm" (ngSubmit)="onSave()">
      <label for="fromDate">From Date:</label>
      <input type="date" id="fromDate" formControlName="fromDate" required>
      
      <label for="toDate">To Date:</label>
      <input type="date" id="toDate" formControlName="toDate" required>
      
      <div class="button-group">
        <button type="submit" class="save-button" [disabled]="slideshowForm.invalid">Save</button>
        <button type="button" class="cancel-button" (click)="toggleForm()">Cancel</button>
      </div>
    </form>
  </div>
  
  <button (click)="toggleFullScreen()" class="fullcreenbutton">⛶</button>

  <!-- Footer Row with Four Columns -->
  <div class="footer-row">
    <!-- Instagram Column -->
    <div class="footer-column insta-column">
      <div class="vertical-bar pink-bar"></div>
      <div class="footer-content">
        <h4>Instagram</h4>
        <div *ngIf="topInstaPost" class="post-details">
          <img [src]="topInstaPost.photoUrl" alt="Instagram Post" class="footer-image-insta" />
          <div class="post-text">
            <p><strong>{{ topInstaPost.mediaId }}</strong></p>
            <p>{{ topInstaPost.content }}</p>
            <div class="likes-container">
              <img src="assets/red-heart-icon.svg" alt="redHeart" class="symbol" />
              <strong>{{ topInstaPost.likes }} {{'Likes'}}</strong>
            </div>
          </div>
        </div>
        <!-- ----------------- -->
        <div *ngIf="topInstaPost === null" class="post-details">
          <img src="assets/No-Image-Placeholder.svg" alt="Instagram Post" class="footer-image-insta" />
          <div class="post-text">
            <p><strong>{{ '@-------' }}</strong></p>
            <p>{{ '------------' }}</p>
            <div class="likes-container">
              <img src="assets/red-heart-icon.svg" alt="redHeart" class="symbol" />
              <strong>{{ '----' }} {{'Likes'}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Snapchat Column -->
    <div class="footer-column snap-column">
      <div class="vertical-bar yellow-bar"></div>
      <div class="footer-content">
        <h4>Snapchat</h4>
        <div *ngIf="topSnapPost !=null" class="post-details">
          <img [src]="topSnapPost.photoUrl" alt="Snapchat Post" class="footer-image-snap" />
          <div class="post-text">
            <p><strong>{{ topSnapPost.mediaId }}</strong></p>
            <p>{{ topSnapPost.content }}</p>
            <div class="likes-container">
              <img src="assets/flames.svg" alt="redHeart" class="symbol" />
              <strong>{{ topSnapPost.likes }} {{'Streaks'}}</strong>
            </div>
          </div>
        </div>
        <!-- ----------------------------- -->
        <div *ngIf="topSnapPost === null" class="post-details">
          <img src="assets/No-Image-Placeholder.svg" alt="Snapchat Post" class="footer-image-snap" />
          <div class="post-text">
            <p><strong>{{ '@-------' }}</strong></p>
            <p>{{ '------------' }}</p>
            <div class="likes-container">
              <img src="assets/flames.svg" alt="redHeart" class="symbol" />
              <strong>{{ '----' }} {{'Streaks'}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Twitter Column -->
    <div class="footer-column twitter-column">
      <div class="vertical-bar skyblue-bar"></div>
      <div class="footer-content">
        <h4>Twitter</h4>
        <div *ngIf="topTwitterPost" class="post-details">
          <img [src]="topTwitterPost.photoUrl" alt="Twitter Post" class="footer-image-twit" />
          <div class="post-text">
            <p><strong>{{ topTwitterPost.mediaId }}</strong></p>
            <p>{{ topTwitterPost.content }}</p>
            <div class="likes-container">
              <img src="assets/retweet2.svg" alt="redHeart" class="symbol" />
              <strong>{{ topTwitterPost.likes }} {{'Retweets'}}</strong>
            </div>
          </div>
        </div>
        <!-- ------------------------- -->
        <div *ngIf="!topTwitterPost" class="post-details">
          <img src="assets/No-Image-Placeholder.svg" alt="Twitter Post" class="footer-image-twit" />
          <div class="post-text">
            <p><strong>{{ '@-------' }}</strong></p>
            <p>{{ '------------' }}</p>
            <div class="likes-container">
              <img src="assets/retweet2.svg" alt="redHeart" class="symbol" />
              <strong>{{ '----' }} {{'Retweets'}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- WhatsApp Column -->
    <div class="footer-column whatsapp-column">
      <div class="vertical-bar green-bar"></div>
      <div class="footer-content">
        <h4>WhatsApp</h4>
        <div *ngIf="topWhatsappPost" class="post-details">
          <img [src]="topWhatsappPost.photoUrl" alt="WhatsApp Post" class="footer-image-what" />
          <div class="post-text">
            <p><strong>{{ topWhatsappPost.mediaId }}</strong></p>
            <p>{{ topWhatsappPost.content }}</p>
            <div class="likes-container">
              <img src="assets/see.svg" alt="redHeart" class="symbol" />
              <strong>{{ topWhatsappPost.likes }} {{'Views'}}</strong>
            </div>
          </div>
        </div>
        <!-- --------------------------- -->
        <div *ngIf="!topWhatsappPost" class="post-details">
          <img src="assets/No-Image-Placeholder.svg" alt="WhatsApp Post" class="footer-image-what" />
          <div class="post-text">
            <p><strong>{{ '@-------' }}</strong></p>
            <p>{{ '------------' }}</p>
            <div class="likes-container">
              <img src="assets/see.svg" alt="redHeart" class="symbol" />
              <strong>{{ '----' }} {{'Views'}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!topPost" class="no-post">
  <p>No posts available at the moment.</p>
</div>
